/*
 * Font Size
 * ==========
 * - used with a base font-size of 62.5% on the html element this mixing provides an easy to use conversion from
 * - pixels to rems so you can just provide the font-size you'd like in pixels and the appropriate rem value
 */
.font-size(@sizeValue) {
  @remValue: (@sizeValue / 10);
  @pxValue: @sizeValue;
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

/*
 * Line Height
 * ===========
 * - used with a base font-size of 62.5% on the html element this mixing provides an easy to use conversion from
 * - pixels to rems so you can just provide the line height you'd like in pixels and the appropriate rem value
 */
.line-height(@sizeValue) {
	@remValue: (@sizeValue / 10);
	@pxValue: @sizeValue;
	line-height: ~"@{pxValue}px";
	line-height: ~"@{remValue}rem";
}

/*
 * Placeholder Mixin
 * ==================
 * - used to allow us to easily change the styling of placeholders on forms elements
 */
.placeholder(@color: #000, @size: 14, @weight: normal, @transform: none, @style: normal) {
  &::-webkit-input-placeholder {
    color: @color;
    font-weight: @weight;
    font-style: @style;
    text-transform: @transform;
    .font-size(@size);
  }
  &:-moz-placeholder {
    color: @color;
    font-weight: @weight;
    font-style: @style;
    text-transform: @transform;
    .font-size(@size);
  }
  &::-moz-placeholder {
    color: @color;
    font-weight: @weight;
    font-style: @style;
    text-transform: @transform;
    .font-size(@size);
  }
  &:-ms-input-placeholder {
    color: @color;
    font-weight: @weight;
    font-style: @style;
    text-transform: @transform;
    .font-size(@size);
  }
}

/*
 * No Gutter
 * ==========
 * - used to remove the gutters from Bootstrap columns
 */
.no-gutter() {
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

/*
 * Responsive embed
 * =================
 * - used to maintain a specific aspect ratio when embedding videos or maps etc
 */
.flexible-container(@ratio-width: 16, @ratio-height: 9) {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: unit(((@ratio-height/@ratio-width)*100), ~"%");

  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*
 * Clearfix
 * =========
 * - used to apply a clearfix to an element
 */
.clearfix() {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
}

/*
 * Center block
 * =============
 * - used to center a block level element
 * - requires a width or max-width to be set
 */
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Size
 * =====
 * - used to set the size of an element easily
 */
.size(@width, @height) {
  width: @width;
  height: @height;
}
.square(@size) {
  .size(@size, @size);
}

/*
 * Resizeable textareas
 * =====================
 * - used to allow the direction of resizing allowed on a textarea etc
 */
.resizable(@direction: both) {
  resize: @direction;
  overflow: auto;
}

/*
 * Truncate text
 * ==============
 * - used to truncate text with an ellipsis with a single mixin
 * - requires block or inline-block element
 */
.text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 * Retina background images
 * =========================
 * - used to provide a @1x and @2x version of a background image for retina devices
 */
.retina-image(@file-1x, @file-2x, @width, @height) {
  background-image: url("@{file-1x}");
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width @height;
  }
}

/*
 * Transitions
 * ===========
 * - used to provide cross-browser support for CSS3 transitions
 */

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

.transitions (@transitions) {
	-webkit-transition: ~"@{transitions}";
	-moz-transition:    ~"@{transitions}";
	-ms-transition:     ~"@{transitions}";
	-o-transition:      ~"@{transitions}";
}

/*
 * Transform
 * =========
 * - used to provide cross-browser support for CSS3 transform
 */

.transform(@string){
	transform:          @string;
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}

// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
      -ms-order: @order;
          order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number> 
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
  -webkit-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
  -webkit-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
  -webkit-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}