/*
 * ==================
 * Neutrals
 * ==================
 */
@white: rgb(255, 255, 255);
@neutral-1: darken(@white, 10%);
@neutral-2: darken(@white, 20%);
@neutral-3: darken(@white, 30%);
@neutral-4: darken(@white, 40%);
@neutral-5: darken(@white, 50%);
@neutral-6: darken(@white, 60%);
@neutral-7: darken(@white, 70%);
@neutral-8: darken(@white, 80%);
@neutral-9: darken(@white, 90%);
@black: rgb(0, 0, 0);

/*
 * ==================
 * Colours
 * ==================
 */
@brand-primary: rgb(66, 139, 202);
@brand-secondary: rgb(66, 139, 202);
@brand-tertiary: rgb(66, 139, 202);

@success: rgb(92, 184, 92);
@warning: rgb(240, 173, 78);
@danger:  #d9534f;
@info:    #5bc0de;

@body-background: @white;
@text-color: @black;

@link-color: @brand-primary;
@link-color-hover: @brand-secondary;

/*
 * ==================
 * Typography
 * ==================
 */
@font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, 'Courier New', monospace;
@font-family-base: @font-family-sans-serif;




